{% extends "base.html" %}
{% block title %}{{ get_posts }}{% endblock %} 
{% block content %}
    {% if post.image %}
    <div class="row">
        <div class="col-12">
            <img src="{{ MEDIA_URL }}{{ post.image }}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">TITLE</span>
                </div>
                <div class="card-body">
                    {{ post.title }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="card-title">POST</span>
                </div>
                <div class="card-body">
                    {{ post.content }}
                </div>
                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 text-left">
                                <span>VIEWS: {{ post.views }}</span>
                            </div>
                            <div class="col-6 text-right">
                                <span>{{ post.published_date }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}