{% extends "base.html" %}
{% block title %} Statistics {% endblock %} 
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 text-left">
                        <span><i class="fas fa-spider"></i>HIGHEST VOTED BUG</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-center">
                            <p><strong>TITLE</strong></p>
                            <blockquote class="blockquote">
                              <p class="mb-0">{{ highest_voted_bug.title }}</p>
                              <footer class="blockquote-footer"><cite title="Source Title">{{ highest_voted_bug.creator }}</cite></footer>
                            </blockquote>
                        </div>
                        <div class="col-6 text-center">
                            <p><strong>VOTES</strong></p>
                            <p class="mb-0">{{ highest_voted_bug.upvotes }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 text-left">
                        <span><i class="far fa-carrot"></i>HIGHEST VOTED FEATURE REQUEST</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-center">
                            <p><strong>TITLE</strong></p>
                            <blockquote class="blockquote">
                              <p class="mb-0">{{ highest_voted_feature_request.title }}</p>
                              <footer class="blockquote-footer"><cite title="Source Title">{{ highest_voted_feature_request.creator }}</cite></footer>
                            </blockquote>
                        </div>
                        <div class="col-6 text-center">
                            <p><strong>VOTES</strong></p>
                            <p class="mb-0">{{ highest_voted_feature_request.upvotes }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 text-left">
                        <span><i class="fas fa-chart-bar fa-lg page-icon"></i>TOTAL TICKETS RAISED</span>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="totalTickets" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 text-left">
                        <span><i class="fas fa-user-circle fa-lg page-icon"></i>TICKETS YOU RAISED</span>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="userTickets" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="col-12 text-left">
                        <span><i class="fas fa-tasks fa-lg page-icon"></i>TOTAL TICKETS BY STATUS</span>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="statusTickets" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        
        var total_bugs = {{ total_bugs }}
        var total_feature_requests = {{ total_feature_requests }}
        var user_bugs = {{ user_bugs }}
        var user_feature_requests = {{ user_feature_requests }}
        var open_bugs = {{ open_bugs }}
        var in_progress_bugs = {{ in_progress_bugs }}
        var completed_bugs = {{ completed_bugs }}
        var open_feature_requests = {{ open_feature_requests }}
        var in_progress_feature_requests = {{ in_progress_feature_requests }}
        var completed_feature_requests = {{ completed_feature_requests }}
        
        new Chart(document.getElementById("totalTickets"), {
            type: 'doughnut',
            data: {
                labels: ['Bugs', 'Feature Requests'],
                datasets: [{
                    label: 'Number of tickets',
                    data: [total_bugs, total_feature_requests],
                    backgroundColor: [
                        'magenta',
                        '#FFA07A',
                    ],
                    borderColor: [
                        'magenta',
                        '#2E353D',
                    ],
                    borderWidth: 1
                }]
            }
        });
        
        new Chart(document.getElementById("statusTickets"), {
            type: 'bar',
            data: {
                labels: ["BACKLOG", "IN PROGRESS", "COMPLETE"],
                datasets: [{
                    label: "Bugs",
                    backgroundColor: "#FFC300",
                    data: [open_bugs, in_progress_bugs, completed_bugs]
                }, {
                    label: "Feature Requests",
                    backgroundColor: "#FFA07A",
                    data: [open_feature_requests, in_progress_feature_requests, completed_feature_requests]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0
                        }
                    }]
                }
            }
        });
        
        new Chart(document.getElementById("userTickets"), {
            type: 'bar',
            data: {
                labels: ["TICKETS"],
                datasets: [{
                    label: "Bugs",
                    backgroundColor: "#FFC300",
                    data: [user_bugs]
                }, {
                    label: "Feature Requests",
                    backgroundColor: "#FFA07A",
                    data: [user_feature_requests]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0
                        }
                    }]
                }
            }
        });
    })
</script>
{% endblock %}