{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":25,"column":0},"end":{"row":25,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"9e2a1685222388df68cfb39356daeef084325ef2","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1562932190192}