@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body, html {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
    background-color: #ccd9ff;
}



.accountform {
    padding-top: 20px;
}






.nav {
  overflow: auto;
  font-family: verdana;
  font-size: 10px;
  font-weight: 300;
  background-color: #00bfff;
  position: fixed;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}



@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  
  .card {
    margin-bottom: 15px;
    width: 100%;
    background-color: #FF45FF;
  }
   .card-header {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #B0E0E6;
  }
  
   .card-body .container .row div {
    margin-bottom: 10px;
    background-color: #ffff00;
  }
  
  .card-title {
    padding-top: 6px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    background-color: #ffff00;
  }
  
  .row{
    background-color:green;
  }
  .new-ticket-title, .payment-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
  
  .ticket-status {
    margin-top: 15px;
    background-color: #ffff00;
  }
  
  .ticket-upvotes {
    margin-top: 10px;
  }
  
  .upvote-icon {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 3px solid #4f5b69;
    border-radius: 10px;
    background-color: #2E353D;
  }


.createticketform label {
    font-size: 1.6em;
}

