@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
  background-color: #00FFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}