{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %} 
{% block title %} Create Feature Request {% endblock %} {% block content %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = 'pk_test_tDbHZTNm9XwkoAKyMiclFehy00GnNCoaSC';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
        <h1 class="new-ticket-title"><i class="fa fa-lightbulb fa-md page-icon"></i>FEATURE REQUEST  CREATOR</h1>
        <form role="form" method="POST" id="payment-form" enctype="multipart/form-data" action="{% url 'create_feature_request' %}" novalidate>
            <div class="form-group">
                {{ ticket_form | as_bootstrap }}
            </div>
            <h3 class="payment-title"><i class="fa fa-credit-card fa-md page-icon"></i>PAYMENT</h3>
            <p class="payment-amount text-center"><i class="fa fa-money-bill fa-md page-icon"></i>€30</p>
            <div class="form-group">
                 
                {{ payment_form | as_bootstrap }}
            </div>
            {% csrf_token %}
            <div class="form-group">
                <input class=" btn btn-base" id="submit_payment_btn" name="commit" type="submit" value="PURCHASE FEATURE REQUEST">
            </div>
        </form>

{% endblock %}