{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block title %} Ticket #{{ ticket.id }} {% endblock %} 
{% block content %}
<div class="row text-center">
    {% if request.user.username == ticket.creator %}
        {% if user.is_superuser %}
        <div class="col-xs-12 col-md-4">
            <a href="#" data-toggle="modal" data-target="#update-status" class="btn btn-base">
                <span><i class="fas fa-exchange-alt fa-lg page-icon"></i>CHANGE STATUS</span>
            </a>    
        </div>
        {% endif %}
        <div class="col-xs-12 col-md-4">
            <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-base">
                <span><i class="fas fa-edit fa-lg page-icon"></i>EDIT</span>
            </a>
        </div>
        <div class="col-xs-12 col-md-4">
            <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-base">
                <span><i class="fas fa-trash-alt fa-lg page-icon"></i>DELETE</span>
            </a>    
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-xs-12 col-md">
        <div class="card text-center">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span>
                                {% if ticket.ticket_type == 'Bug' %}
                                <i class="fas fa-bug fa-lg page-icon"></i>
                                {% else %}
                                <i class="fas fa-lightbulb fa-lg page-icon"></i>
                                {% endif %}
                                TITLE
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ ticket.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md">
        <div class="card text-center">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span><i class="fas fa-tasks fa-lg page-icon"></i>STATUS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ ticket.status.upper }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if ticket.completion_date %}
    <div class="col-xs-12 col-md">
        <div class="card text-center">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span><i class="fas fa-check-circle fa-lg page-icon"></i>COMPLETED DATE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ ticket.completion_date|date:"d/m/Y" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span><i class="fas fa-list fa-lg page-icon"></i>SUMMARY</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ ticket.summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="card text-center">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span><i class="fas fa-user-circle fa-lg page-icon"></i>CREATED BY</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ ticket.creator }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="card text-center">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span><i class="fas fa-calendar-alt fa-lg page-icon"></i>CREATED DATE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ ticket.initiation_date|date:"d M Y" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-left">
                            <span><i class="fas fa-vote-yea fa-lg page-icon"></i>UPVOTES</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <p>{{ ticket.upvotes }}</p>
                        </div>
                        <div class="col-7">
                            {% if ticket.ticket_type == 'Bug' %}
                            <a class="btn btn-base" href="{% url 'upvote' pk=ticket.pk %}">
                                <span><i class="fas fa-angle-double-up fa-lg page-icon"></i>UPVOTE</span>
                            </a>
                            {% else %}
                            <a class="btn btn-base" href="#" data-toggle="modal" data-target="#upvote-payment-reminder-{{ ticket.id }}">
                                <span class="align-text-bottom"><i class="fas fa-angle-double-up fa-lg page-icon"></i>UPVOTE</span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>

<!-- Change Status Modal -->
<div class="modal fade" id="update-status" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">CHANGE STATUS</h6>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                        {% if ticket.status == 'Backlog' %}
                        <a href="#" class="btn btn-base disabled">BACKLOG</a>
                        {% else %} 
                        <a href="{% url 'backlog' ticket.id %}" class="btn btn-base">BACKLOG</a> 
                        {% endif %}
                        </div>
                        <div class="col-12">
                        {% if ticket.status == 'In Progress' %}
                        <a href="#" class="btn btn-base disabled">IN PROGRESS</a>
                        {% else %} 
                        <a href="{% url 'in_progress' ticket.id %}" class="btn btn-base">IN PROGRESS</a> 
                        {% endif %}
                        </div>
                        <div class="col-12">
                        {% if ticket.status == 'Complete' %}
                        <a href="#" class="btn btn-base disabled">COMPLETE</a>
                        {% else %} 
                        <a href="{% url 'complete' ticket.id %}" class="btn btn-base">COMPLETE</a> 
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">CANCEL</a>
            </div>
        </div>
    </div>
</div>

<!-- Feature Request Upvote Payment Reminder -->
<div class="modal fade" id="upvote-payment-reminder-{{ ticket.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentLabel">PAYMENT</h5>
            </div>
            <div class="modal-body">
                <p>In order to upvote a feature request, a payment of <strong>5 Euro</strong> is required.</p>
                <p>Feature requests are worked on in order of amounts contributed, so the more upvotes a feature request gets, the more likely it will be implemented!</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                <a href="{% url 'upvote_payment' pk=ticket.id %}" class="btn btn-base">PROCEED TO PAYMENT</a>
            </div>
        </div>
    </div>
</div>

<!-- Add Comment Modal -->
<div class="modal fade" id="add-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">ADD COMMENT</h6>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form method="POST">
                                {% csrf_token %}
                                {{ comment_form | as_bootstrap }}
                                <button type="submit" class="btn btn-base">ADD</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">CANCEL</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}