{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Unicorn Attractor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock %}
</head>

<body>
    
     <header>
        <div class="row no-gutters">
            <a class="col-md-4 logo" href="02-index.html"></a>
            <div class="col-md-8">
                <div class="row no-gutters bg-color-name-title">
                    <div class="col heading">
                        <h1 class="name">Unicorn Attractor</h1>
                        <h2 class="title"> Issue- Tracker</h2>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <ul id="nav" class="list-inline menucontainer">
                            <a href="{% url 'index' %}"><li><i class="fas fa-home"></i> HOME
                    </li>
                </a>
                <li data-toggle="collapse" data-target="#ticket-types" class="collapsed">
                    <i class="fa fa-plus fa-lg page-icon"></i> CREATE TICKET <span class="arrow"></span>
                </li>
                <ul class="sub-menu collapse" id="ticket-types">
                    <a href="{% url 'create_bug' %}"><li><i class="fas fa-spider"></i> BUG</li></a>
                    <a data-toggle="modal" data-target="#payment-reminder"><li><i class="far fa-carrot"></i> FEATURE REQUEST</li></a>
                </ul>
                <a href="{% url 'get_charts' %}">
                    <li>
                        <i class="fas fa-chart-pie"></i> STATISTICS
                    </li>
                </a>
                <a href="{% url 'get_posts' %}">
                    <li>
                        <i class="fal fa-blog"></i> BLOG
                    </li>
                </a>
                
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    
    
    
   

  
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container" id="main">
        {% block content %} {% endblock %}
    </div>
    
    <!-- Feature Request Creation Payment Reminder -->
    <div class="modal fade" id="payment-reminder" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">PAYMENT</h5>
        </button>
                </div>
                <div class="modal-body">
                    <p>In order to submit a feature request, a payment of <strong>35 euro</strong> is required.</p>
                    <p>You will receive an email once the feature has been implemented.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">CANCEL</a>
                    <a href="{% url 'create_feature_request' %}" class="btn btn-base">Pay</a>
                </div>
            </div>
        </div>
    </div>
    {% block jquery %}{% endblock %}  
</body>

</html>