{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Unicorn Attractor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock %}
</head>

<body>
        <header>
           
        <div class="row hidden-xs col-sm-9">
           <a href="https://lubani-issue-tracker.s3-eu-west-1.amazonaws.com/unicorn.jpg"></a>
        </div>
    

       
       
            

</div>






        </div>


        <div class="col">
        <ul id="nav" class="list-inline menucontainer">
        <a href="{% url 'index' %}"><i class="fas fa-home"></i>HOME</a>
        <data-target="#ticket-types"><a href="{% url 'create_bug' %}"><i class="fas fa-spider"></i>BUGS</a>
        <a data-toggle="modal" data-target="#payment-reminder">><i class="far fa-carrot"></i>FEATURES</a>
        <a href="{% url 'create_bug' %}"<i class="fas fa-spider"></i>BUGS</a> 
        <a href="{% url 'get_charts' %}"><i class="fas fa-chart-pie"></i>STATISTICS</a>
        <a href="{% url 'get_posts' %}"><i class="fal fa-blog"></i>BLOGS</a>
        </ul>
        </div>
    </header>
  
  <!--------<div class="navigation">
        <div class="brand">
            <img src="/media/images/unicorn.jpg" class="img-fluid mx-auto rounded-circle d-none d-md-block">
            <h4 class="d-block d-md-none small-title text-left">UNICORN ATTRACTOR</h4>
        </div>
        
        <div class="menu-list">
            < id="menu-content">
                <a href="{% url 'index' %}">
                    
                        <i class="fa fa-ticket-alt fa-lg page-icon"></i> TICKETS
                    
                </a>
               
                <a href="{% url 'create_bug' %}"><li><i class="fa fa-bug fa-lg page-icon"></i> BUG</a>
                <a data-toggle="modal" data-target="#payment-reminder"><i class="fa fa-lightbulb fa-lg page-icon"></i> FEATURE REQUEST</a>
                
                <a href="{% url 'get_charts' %}">
                   
                        <i class="fa fa-chart-bar fa-lg page-icon"></i> STATISTICS
                    
                </a>
                <a href="{% url 'get_posts' %}"><i class="fa fa-newspaper fa-lg page-icon"></i> BLOG</a>
                
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    
                        <i class="fa fa-user-circle fa-lg page-icon"></i> PROFILE
                    
                </a>
                <a href="{% url 'logout' %}">
                    
                        <i class="fa fa-sign-out-alt fa-lg page-icon"></i> LOG OUT
                    
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    
                        <i class="fa fa-sign-in-alt fa-lg page-icon"></i> LOG IN
                    
                </a>
                {% endif %}
        
        </div>
    </div>----->
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container" id="main">
        {% block content %} {% endblock %}
    </div>
    
    <!-- Feature Request Creation Payment Reminder -->
    <div class="modal fade" id="payment-reminder" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">PAYMENT</h5>
        </button>
                </div>
                <div class="modal-body">
                    <p>In order to submit a feature request, a payment of <strong>50 Euro</strong> is required.</p>
                    <p>This pays for the developer's time, and you will receive an email once the feature has been implemented.</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">CANCEL</a>
                    <a href="{% url 'create_feature_request' %}" class="btn btn-base">PROCEED TO PAYMENT</a>
                </div>
            </div>
        </div>
    </div>
    {% block jquery %}{% endblock %}  
</body>

</html>