@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body, html {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
    background-color: #B0E0E6;
}



.accountform {
    padding-top: 20px;
}






.nav {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}



@media (max-width: 767px) {
  .nav {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  
  .card {
    margin-bottom: 15px;
    width: 100%;
    background-color: #FF45FF;
  }
   .card-header {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #00FFFF;
  }
  
   .card-body .container .row div {
    margin-bottom: 10px;
    background-color: #FF45FF;
  }
  
  .card-title {
    padding-top: 6px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    background-color: #FF45FF;
  }
  
  .row{
    background-color:green;
  }
  .new-ticket-title, .payment-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
  
  .ticket-status {
    margin-top: 15px;
    background-color: #FF45FF;
  }
  
  .ticket-upvotes {
    margin-top: 10px;
  }
  
  .upvote-icon {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 3px solid #4f5b69;
    border-radius: 10px;
    background-color: #2E353D;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #ededed;
    background-color: white;
    color: #A9A9A9;
}

.footer-list {
    display: flex;
    list-style: none;
}

.footer-item {
    padding-left: 0px;
}




.createticketform label {
    font-size: 1.6em;
}

